  <div class="row">
    <div class="small-12 columns">
      <h2>Nice, start typing!</h2>
    </div>
  </div>
  
  <%= form_for @task do |f| %> 	
    <div class="row">
      <div class="small-12 columns">
      <h3>1) add tasks</h3>
        <%= f.text_field :description,  placeholder: "enter new task here" %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.submit "Add Task", class: "button radius" %>
      </div>
    </div>
  <% end %>
    <div class="row">
      <div class="small-12 columns">
        <% if !@tasks.empty? %>
          <p><%= render 'link' %></p>
        <% end %>
      </div>
    </div>