<h1>git 'er done</h1>

<h3>redneck task management</h3>

<p>there's a lot for you to git done every day</p>

<p>we help break it down into bite size chunks</p>

<p><%= button_to "Try It for Free!", users_path, method: :post %></p>

<img src="http://turtleman.urnge.com/communities/2/004/008/145/402/images/4574549709.swf">

