<h1>git 'er done</h1>

<h3>home of the premier redneck task management web app</h3>

<p>there's a lot of hard working folks out there, and some of them try to remember everything they have to do</p>

<p>there is a better way</p>

<p>by following a few simple steps you can break down everything on you plate into bite size chunks</p>

<img src="http://turtleman.urnge.com/communities/2/004/008/145/402/images/4574549709.swf">

